nav {
    position: fixed;
    top: 0;
    width: 80vw;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #2B2D42;
}

.nav-buttons-container {
    display: flex;
}

.nav-buttons-container div {
    margin-left: 15px;
}

.img-container {
    height: 300px;
    width: auto;
}