nav {
    position: fixed;
    top: 0;
    width: 80vw;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-buttons-container {
    display: flex;
}

.nav-buttons-container div {
    margin-left: 15px;
}

.img-container {
    height: 300px;
    width: auto;
}