* {
  color: #EDF2F4;
}

:root {
  background-color: #2B2D42;
  font-size: 24px;
  padding-bottom: 75px
}

body {
  width: 80%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: inherit;
}